{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Adicionar"
           class="btn btn-default pull-right" />
    {{ form_end(form) }}

    <br />
    <table class="table">
        <thead>
            <th>Number</th>
            <th>Weight</th>
            <th>Position</th>
        </thead>
        <tbody>
            {% for falcon in collection %}
                <tr class="text-left">
                    <td>{{ falcon.number }}</td>
                    <td>{{ falcon.weight }}</td>
                    <td>{{ falcon.position }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

